<div class="row">
    <h1> Game {{gameCtrl.lol}}</h1>
</div>

<div class="row">

            <div class="col-md-12">
                <div class="panel panel-teal">
                    <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span>
                    Game Board
                    <small>ID: {{game.id}} createdBy: {{game.createdBy.name}}</small>
                    <button ng-show="game.state == 'open'" class="btn" ng-click="gameCtrl.startGame()">Start</button>
                    </div>
                    <div class="panel-body">

                    <div class="tileContainer">
                        <span class="tile" ng-repeat="tile in gameTiles" style="left: {{ tile.xPos *20 }}px; top: {{ tile.yPos *35 + 100 + tile.zPos *6 }}px; z-index: {{ tile.zPos * 100 }};">{{tile.tile.suit}} - {{tile.tile.name}}</span>

                    </div>

                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-list"></span>Open Games</div>
                    <div class="panel-body gamelist">
                        <ul>
                            <li ng-repeat="game in games | filter:{'state' : 'open'}" ng-click="gameCtrl.setCurGame(game.id)">
                                <strong>Game: {{game.id}}</strong>
                                <small>Creator: {{game.createdBy.name}}</small>
                                <small>state: {{game.state}}</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-list"></span>Active Games <button class="pull-right btn btn-md btn-send allchatbtn"><span class="glyphicon glyphicon-plus allchatplusbtn"></span> New Game</button>
              </div>
                    <div class="panel-body gamelist">
                        <ul>
                            <li ng-repeat="game in games | filter:{'state' : 'playing', 'players' : { 'name' : 'Rick de Jong'}}" ng-click="gameCtrl.setCurGame(game.id)">
                                <strong>Game: {{game.layout}}</strong>
                                <small>Creator: {{game.createdBy.name}}</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

<!--
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-list"></span>Select a User</div>
                    <div class="panel-body gamelist">
                        <ul>
                            <li ng-repeat="user in mCtrl.users" >
                                <strong>User: {{user.id}}</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
-->
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-list"></span>Game settings</div>
                    <div class="panel-body">
                        <form ng-submit="gameCtrl.submitNewGame()">
                                <div class="form-group">
                                    <label for="layout">Layout</label>
                                    <select name="layout" ng-model="gameCtrl.newgame.layout" class="form-control">
                                        <option value="">Select a Layout</option>
                                        <option value="shanghai">Shanghai</option>
                                        <option value="snake">Snake</option>
                                        <option value="ox">OX</option>
                                        <option value="ram">Ram</option>
                                        <option value="dragon">Dragon</option>
                                        <option value="rooster">Rooster</option>
                                        <option value="monkey">Monkey</option>
                                    </select>

                                    <label for="gameCtrl.newgame.minPlayers">Min # of Players</label>
                                    <input name="gameCtrl.newgame.minPlayers" class="form-control" ng-model="gameCtrl.newgame.minPlayers" type="number" min="1" max="35" />

                                    <label for="gameCtrl.newgame.maxPlayers">Max # of Players</label>
                                    <input name="gameCtrl.newgame.maxPlayers" class="form-control" ng-model="gameCtrl.newgame.maxPlayers" type="number" min="1" max="35" />

                                    <button class="btn btn-send" type="submit" ng-click="apply()">Create Game</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>

</div>
