<div ng-show="!mCtrl.loggedIn" class="logindiv">
    <div>
        <h1>{{mCtrl.lol}}</h1>
    </div>

    <div style="margin-top: 100px;">
        <div class="col-md-4 text-center">
            <button class="btn btn-primary" ng-click="mCtrl.login();">Login using Oath</button>
        </div>
    </div>

</div>


<div ng-show="mCtrl.loggedIn" class="gamediv">
    <br />
    <div class="row">


        <div ng-if="pagemode == 'playing'" class="col-md-4">
            <div class="panel panel-setting">
                <div class="panel-heading"><span class="glyphicon glyphicon-list"></span>Open Games <button ng-click="gameCtrl.changeMode()" class="pull-right btn btn-md btn-send allchatbtn"><span class="glyphicon glyphicon-chevron-left"></span>Started games</button></div>
                <div class="panel-body gamelist" scrolled="gameCtrl.loadMore()">
                    <ul>
                        <li ng-repeat="game in games | filter:{'state' : 'open', 'players' : { '_id' : '!'+mCtrl.user.id}}" ng-click="gameCtrl.setCurGame(game.id)">
                            <strong>{{game.gameTemplate.id}}</strong>
                            <small>Creator: {{game.createdBy.name}}</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-if="pagemode == 'spectating'" class="col-md-4">
            <div class="panel panel-setting">
                <div class="panel-heading"><span class="glyphicon glyphicon-list"></span>Started Games <button ng-click="gameCtrl.changeMode()" class="pull-right btn btn-md btn-send allchatbtn"><span class="glyphicon glyphicon-chevron-right"></span>Open games</button></div>
                <div class="panel-body gamelist" scrolled="gameCtrl.loadMore()">
                    <ul>
                        <li ng-repeat="game in games | filter:{'state' : 'playing', 'players' : { '_id' : '!'+mCtrl.user.id}}" ng-click="gameCtrl.setCurGame(game.id)">
                            <strong>{{game.gameTemplate.id}}</strong>
                            <small>Creator: {{game.createdBy.name}}</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="panel panel-setting">
                <div class="panel-heading"><span class="glyphicon glyphicon-list"></span>My Games
                </div>
                <div class="panel-body gamelist">
                    <ul>
                        <li ng-repeat="game in mygames" ng-click="gameCtrl.setCurGame(game.id)">
                            <strong ng-if="game.state == 'playing'">STARTED</strong>
                            <strong>Game: {{game.layout}}</strong>
                            <small>Creator: {{game.createdBy.name}}</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-setting">
                <div class="panel-heading"><span class="glyphicon glyphicon-cog"></span>Game settings</div>
                <div class="panel-body settings">
                    <div class="game-info" ng-show="game">
                        Template: {{game.gameTemplate.id}} <br />
                        <small> createdBy: {{game.createdBy.name}}</small> <br />
                        <button ng-show="game.state == 'open'&& game.createdBy._id == mCtrl.user.id" class="btn" ng-click="gameCtrl.startGame()">Start</button>
                        <button ng-show="game.state != 'playing'" ng-if="game.state == 'open' && game.players | contains: { mode : 'not', data : mCtrl.user.id}" class="btn" ng-click="gameCtrl.joinGame(game.id)">join</button>
                        <button ng-if="game.state == 'open' && game.createdBy._id != mCtrl.user.id && game.players | contains: { data : mCtrl.user.id}" class="btn" ng-click="leaveGame(game.id)">leave</button>
                        <button ng-if="game.state == 'open' && game.createdBy._id == mCtrl.user.id && game.players | contains: { data : mCtrl.user.id}" class="btn" ng-click="deleteGame(game.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--END ROW1  -->
    <div class="row">
        <div ng-show="!game" class="col-md-12">
            <div class="panel panel-setting">
                <div class="panel-heading"><span class="glyphicon glyphicon-list"></span>Create new game</div>
                <div class="panel-body newgame">
                    <form ng-submit="gameCtrl.submitNewGame()">
                        <div class="form-group">
                            <label for="layout">Layout</label>
                            <select name="layout" ng-model="gameCtrl.newgame.layout" class="form-control">
                                        <option value="">Select a Layout</option>
                                        <option value="shanghai">Shanghai</option>
                                        <option value="snake">Snake</option>
                                        <option value="ox">OX</option>
                                        <option value="ram">Ram</option>
                                        <option value="dragon">Dragon</option>
                                        <option value="rooster">Rooster</option>
                                        <option value="monkey">Monkey</option>
                                    </select>

                            <label for="gameCtrl.newgame.minPlayers">Min # of Players</label>
                            <input name="gameCtrl.newgame.minPlayers" class="form-control" ng-model="gameCtrl.newgame.minPlayers" type="number" min="1" max="35" />

                            <label for="gameCtrl.newgame.maxPlayers">Max # of Players</label>
                            <input name="gameCtrl.newgame.maxPlayers" class="form-control" ng-model="gameCtrl.newgame.maxPlayers" type="number" min="1" max="35" />

                            <button class="btn btn-send" type="submit" ng-click="apply()">Create Game</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div ng-if="game" class="col-md-12">
            <div class="panel panel-game">
                <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Game Board: {{game.gameTemplate.id}}
                    <small> createdBy: {{game.createdBy.name}}</small>
                    <div ng-click="gameCtrl.clearCurGame()" class="game-close pull-right"><span class="glyphicon glyphicon-remove-circle"></span></div>
                </div>
                <div class="settings-panel">
                    <strong>Players: </strong>
                    <span class="players" ng-repeat="player in game.players">{{player.name}}, </span>
                    <h4> Game state: {{ gamestate }}</h4>
                    <h2 class="errmsg" ng-if="errMsg">{{errMsg}}</h2>
                </div>
                <div class="panel-body gamepanel" ng-show="gameTiles">

                    <div class="tileContainer">
                        <tile class="tile" data="{{tile}}" data="{{ tile._id }}" ng-repeat="tile in gameTiles | matchable" style="left: {{ tile.xPos *30+350 }}px; top: {{ tile.yPos *45 + 100 + tile.zPos *3 }}px; z-index: {{ tile.zPos * 100 + tile.xPos + tile.yPos }};" matchable />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END ROW2-->
    <div class="row">
        <div ng-if="gameMatches" class="col-md-12">
            <div class="panel panel-game match-game">
                <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Matched
                </div>
                <div class="panel-body matchpanel">
                <div class="matchContainer" ng-repeat="player in game.players">
                    <h3>found by: {{player.name}}</h3>
                    <tile class="tile" data="{{ tile._id }}" ng-repeat="tile in gameMatches | matchedby: player._id" />
                </div>
                </div>
            </div>

        </div>

    </div>

</div>
