@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

.colors {
    position: fixed;
    right: -32px;
    top: 20%;
    width: 50px;
    padding: 0;
    height: auto;
    background: #34495e;
    border: 2px solid #2c3e50;
    box-shadow: 0 0 0 5px #2c3e50 inset;
    .color {
        -webkit-appearance: none;
        display: block;
        outline: 0;
        width: 0;
        height: 40px;
        margin: 5px;
        border-left: 10px solid #f00;
        position: relative;
        left: 0;
        transition: all 0.5s ease;
        cursor: pointer;
    }
}
.colors:hover {
    right: -2px;
}
.colors .color:before {
    content: '';
    display: block;
    width: 45px;
    height: 50px;
    background: rgba(0, 0, 0, 0);
    border-width: 5px 0;
    border-style: solid;
    border-color: #2c3e50;
    position: relative;
    top: -5px;
    left: -10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.colors .color:checked:before,
.colors .color:hover:before {
    left: -45px;
}

.colors .color:checked,
.colors .color:hover {
    left: 30px;
}


li .btn {
    display: none;
    float: right;
}

li:hover .btn {
    display: block;
}

.gamelist {
    height: 300px;
    overflow: auto;
}

.newgame {
    height: 300px;
}

.settings {
    height: 300px;
}

.gamepanel {
    height: 900px;
}

.gamelist ul {
    list-style: none;
    margin: -15px;
    padding: 15px;
    cursor: pointer;
}

.gamelist ul li:hover {
    background-color: rgba(123, 123, 123, 0.5);
}

.gamelist ul li {
    margin-bottom: 10px;
    padding: 15px 5px;
    border-bottom: 1px solid #eee;
}

.active .dropdown-menu {
    display: block;
}

.ng-hide.ng-hide-animate {
    display: none !important;
}

.game-close {
    cursor: pointer;
}

.game-close:hover {
    color: #d3d3d3
}

.candy:after {
    opacity: 1 !important;
}




body {
    padding-top: 50px;
}

p {
    color: #777;
}

a {
    color: #30a5ff;
    &:hover,
    &:focus {
        color: #30a5ff;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5f6468;
}

h1 {
    font-weight: 300;
    font-size: 40px;
}

h2 {
    font-weight: 300;
    margin-bottom: 20px;
}

h3,
h4 {
    font-weight: 300;
}

.large {
    font-size: 2em;
}

.text-muted {
    color: #9fadbb;
}

.color-gray {
    color: #5f6468;
}

.color-blue {
    color: #30a5ff;
}

.color-teal {
    color: #1ebfae;
}

.color-orange {
    color: #ffb53e;
}

.color-red {
    color: #f9243f;
}

.bg-primary .glyphicon-remove {
    color: #5f6468;
    &:hover {
        color: #ef4040;
    }
}

.no-padding {
    padding: 0;
    margin: 0;
}

.glyphicon-xl {
    font-size: 6em;
}

.glyphicon-l {
    font-size: 3em;
}

.glyphicon-m {
    font-size: 1.5em;
}

.glyphicon-s {
    font-size: 0.75em;
}

.form-control {
    border: 1px solid #eee;
    box-shadow: none;
    &:focus {
        border: 1px solid #30a5ff;
        outline: 0;
        box-shadow: inset 0px 0px 0px 1px #30a5ff;
    }
}

.navbar-header .navbar-brand {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

a.btn:hover,
button:hover {
    opacity: 0.8;
}

a.btn:active,
button:active {
    box-shadow: inset 0px 0px 500px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.btn-default {
    background-color: #e9ecf2;
    border-color: #e9ecf2;
    color: #1b3548;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: #e9ecf2;
        border-color: #e9ecf2;
        color: #1b3548;
    }
}

.open>.dropdown-toggle.btn-default {
    background-color: #e9ecf2;
    border-color: #e9ecf2;
    color: #1b3548;
}

.btn-default {
    &.disabled,
    &[disabled] {
        background-color: #e9ecf2;
        border-color: #e9ecf2;
        color: #1b3548;
    }
}

fieldset[disabled] .btn-default {
    background-color: #e9ecf2;
    border-color: #e9ecf2;
    color: #1b3548;
}

.btn-default {
    &.disabled:hover,
    &[disabled]:hover {
        background-color: #e9ecf2;
        border-color: #e9ecf2;
        color: #1b3548;
    }
}

fieldset[disabled] .btn-default:hover {
    background-color: #e9ecf2;
    border-color: #e9ecf2;
    color: #1b3548;
}

.btn-default {
    &.disabled:focus,
    &[disabled]:focus {
        background-color: #e9ecf2;
        border-color: #e9ecf2;
        color: #1b3548;
    }
}

fieldset[disabled] .btn-default:focus {
    background-color: #e9ecf2;
    border-color: #e9ecf2;
    color: #1b3548;
}

.btn-default {
    &.disabled:active,
    &[disabled]:active {
        background-color: #e9ecf2;
        border-color: #e9ecf2;
        color: #1b3548;
    }
}

fieldset[disabled] .btn-default:active {
    background-color: #e9ecf2;
    border-color: #e9ecf2;
    color: #1b3548;
}

.btn-default {
    &.disabled.active,
    &[disabled].active {
        background-color: #e9ecf2;
        border-color: #e9ecf2;
        color: #1b3548;
    }
}

fieldset[disabled] .btn-default.active {
    background-color: #e9ecf2;
    border-color: #e9ecf2;
    color: #1b3548;
}

.btn-primary {
    background-color: #30a5ff;
    border-color: #30a5ff;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: #30a5ff;
        border-color: #30a5ff;
    }
}

.open>.dropdown-toggle.btn-primary {
    background-color: #30a5ff;
    border-color: #30a5ff;
}

.btn-primary {
    &.disabled,
    &[disabled] {
        background-color: #30a5ff;
        border-color: #30a5ff;
    }
}

fieldset[disabled] .btn-primary {
    background-color: #30a5ff;
    border-color: #30a5ff;
}

.btn-primary {
    &.disabled:hover,
    &[disabled]:hover {
        background-color: #30a5ff;
        border-color: #30a5ff;
    }
}

fieldset[disabled] .btn-primary:hover {
    background-color: #30a5ff;
    border-color: #30a5ff;
}

.btn-primary {
    &.disabled:focus,
    &[disabled]:focus {
        background-color: #30a5ff;
        border-color: #30a5ff;
    }
}

fieldset[disabled] .btn-primary:focus {
    background-color: #30a5ff;
    border-color: #30a5ff;
}

.btn-primary {
    &.disabled:active,
    &[disabled]:active {
        background-color: #30a5ff;
        border-color: #30a5ff;
    }
}

fieldset[disabled] .btn-primary:active {
    background-color: #30a5ff;
    border-color: #30a5ff;
}

.btn-primary {
    &.disabled.active,
    &[disabled].active {
        background-color: #30a5ff;
        border-color: #30a5ff;
    }
}

fieldset[disabled] .btn-primary.active {
    background-color: #30a5ff;
    border-color: #30a5ff;
}

.btn-success {
    background-color: #8ad919;
    border-color: #8ad919;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: #8ad919;
        border-color: #8ad919;
    }
}

.open>.dropdown-toggle.btn-success {
    background-color: #8ad919;
    border-color: #8ad919;
}

.btn-success {
    &.disabled,
    &[disabled] {
        background-color: #8ad919;
        border-color: #8ad919;
    }
}

fieldset[disabled] .btn-success {
    background-color: #8ad919;
    border-color: #8ad919;
}

.btn-success {
    &.disabled:hover,
    &[disabled]:hover {
        background-color: #8ad919;
        border-color: #8ad919;
    }
}

fieldset[disabled] .btn-success:hover {
    background-color: #8ad919;
    border-color: #8ad919;
}

.btn-success {
    &.disabled:focus,
    &[disabled]:focus {
        background-color: #8ad919;
        border-color: #8ad919;
    }
}

fieldset[disabled] .btn-success:focus {
    background-color: #8ad919;
    border-color: #8ad919;
}

.btn-success {
    &.disabled:active,
    &[disabled]:active {
        background-color: #8ad919;
        border-color: #8ad919;
    }
}

fieldset[disabled] .btn-success:active {
    background-color: #8ad919;
    border-color: #8ad919;
}

.btn-success {
    &.disabled.active,
    &[disabled].active {
        background-color: #8ad919;
        border-color: #8ad919;
    }
}

fieldset[disabled] .btn-success.active {
    background-color: #8ad919;
    border-color: #8ad919;
}

.btn-warning {
    background-color: #ffb53e;
    border-color: #ffb53e;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: #ffb53e;
        border-color: #ffb53e;
    }
}

.open>.dropdown-toggle.btn-warning {
    background-color: #ffb53e;
    border-color: #ffb53e;
}

.btn-warning {
    &.disabled,
    &[disabled] {
        background-color: #ffb53e;
        border-color: #ffb53e;
    }
}

fieldset[disabled] .btn-warning {
    background-color: #ffb53e;
    border-color: #ffb53e;
}

.btn-warning {
    &.disabled:hover,
    &[disabled]:hover {
        background-color: #ffb53e;
        border-color: #ffb53e;
    }
}

fieldset[disabled] .btn-warning:hover {
    background-color: #ffb53e;
    border-color: #ffb53e;
}

.btn-warning {
    &.disabled:focus,
    &[disabled]:focus {
        background-color: #ffb53e;
        border-color: #ffb53e;
    }
}

fieldset[disabled] .btn-warning:focus {
    background-color: #ffb53e;
    border-color: #ffb53e;
}

.btn-warning {
    &.disabled:active,
    &[disabled]:active {
        background-color: #ffb53e;
        border-color: #ffb53e;
    }
}

fieldset[disabled] .btn-warning:active {
    background-color: #ffb53e;
    border-color: #ffb53e;
}

.btn-warning {
    &.disabled.active,
    &[disabled].active {
        background-color: #ffb53e;
        border-color: #ffb53e;
    }
}

fieldset[disabled] .btn-warning.active {
    background-color: #ffb53e;
    border-color: #ffb53e;
}

.btn-danger {
    background-color: #f9243f;
    border-color: #f9243f;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: #f9243f;
        border-color: #f9243f;
    }
}

.open>.dropdown-toggle.btn-danger {
    background-color: #f9243f;
    border-color: #f9243f;
}

.btn-danger {
    &.disabled,
    &[disabled] {
        background-color: #f9243f;
        border-color: #f9243f;
    }
}

fieldset[disabled] .btn-danger {
    background-color: #f9243f;
    border-color: #f9243f;
}

.btn-danger {
    &.disabled:hover,
    &[disabled]:hover {
        background-color: #f9243f;
        border-color: #f9243f;
    }
}

fieldset[disabled] .btn-danger:hover {
    background-color: #f9243f;
    border-color: #f9243f;
}

.btn-danger {
    &.disabled:focus,
    &[disabled]:focus {
        background-color: #f9243f;
        border-color: #f9243f;
    }
}

fieldset[disabled] .btn-danger:focus {
    background-color: #f9243f;
    border-color: #f9243f;
}

.btn-danger {
    &.disabled:active,
    &[disabled]:active {
        background-color: #f9243f;
        border-color: #f9243f;
    }
}

fieldset[disabled] .btn-danger:active {
    background-color: #f9243f;
    border-color: #f9243f;
}

.btn-danger {
    &.disabled.active,
    &[disabled].active {
        background-color: #f9243f;
        border-color: #f9243f;
    }
}

fieldset[disabled] .btn-danger.active {
    background-color: #f9243f;
    border-color: #f9243f;
}

.bg-primary {
    color: #1b3548;
    background-color: #e9ecf2;
}

a.bg-primary:hover {
    background-color: #e9ecf2;
}

.bg-success {
    color: #fff;
    background-color: #8ad919;
}

a.bg-success:hover {
    background-color: #8ad919;
}

.bg-success a {
    color: rgba(255, 255, 255, 0.75);
}

.bg-info {
    color: #fff;
    background-color: #30a5ff;
}

a.bg-info:hover {
    background-color: #30a5ff;
}

.bg-info a {
    color: rgba(255, 255, 255, 0.75);
}

.bg-warning {
    color: #fff;
    background-color: #ffb53e;
}

a.bg-warning:hover {
    background-color: #ffb53e;
}

.bg-warning a {
    color: rgba(255, 255, 255, 0.75);
}

.bg-danger {
    color: #fff;
    background-color: #f9243f;
}

a.bg-danger:hover {
    background-color: #f9243f;
}

.bg-danger a {
    color: rgba(255, 255, 255, 0.75);
}

.panel {
    border: 0;
}

.panel-heading {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.025em;
    height: 66px;
    line-height: 45px;
}

.panel-default .panel-heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    color: #5f6468;
}

.panel-footer {
    background: #fff;
    border-top: 1px solid #eee;
}

.panel-widget {
    padding: 0;
    position: relative;
    .panel-footer {
        border: 0;
        text-align: center;
    }
}

.panel-footer {
    .input-group {
        padding: 0px;
        margin: 0 -5px;
    }
    .input-group-btn:last-child> {
        .btn,
        .btn-group {
            margin: 0;
        }
    }
}

.panel-widget .panel-footer a {
    color: #999;
    &:hover {
        color: #666;
        text-decoration: none;
    }
}

.panel-blue {
    background: #30a5ff;
    color: #fff;
}

.panel-teal {
    background: #1ebfae;
    color: #fff;
}

.panel-orange {
    background: #ffb53e;
    color: #fff;
}

.panel-red {
    background: #f9243f;
    color: #fff;
}

.panel-blue .panel-body p,
.panel-teal .panel-body p,
.panel-orange .panel-body p,
.panel-red .panel-body p {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.panel-blue .panel-heading,
.panel-teal .panel-heading,
.panel-orange .panel-heading,
.panel-red .panel-heading {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.panel-blue .text-muted,
.panel-teal .text-muted,
.panel-orange .text-muted,
.panel-red .text-muted {
    color: rgba(255, 255, 255, 0.5);
}

.dark-overlay {
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
}

.widget-left {
    height: 80px;
    padding-top: 15px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.widget-right {
    text-align: left;
    line-height: 1.6em;
    margin: 0px;
    padding: 20px;
    height: 80px;
    color: #999;
    font-weight: 300;
    background: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    .text-muted {
        color: #9fadbb;
    }
    .large {
        color: #5f6468;
    }
}

@media (max-width: 768px) {
    .widget-right {
        width: 100%;
        margin: 0;
        text-align: center;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

@media (max-width: 768px) {
    .widget-left {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.panel-blue .widget-left {
    background: #30a5ff;
    color: #fff;
}

.panel-teal .widget-left {
    background: #1ebfae;
    color: #fff;
}

.panel-orange .widget-left {
    background: #ffb53e;
    color: #fff;
}

.panel-red .widget-left {
    background: #f9243f;
    color: #fff;
}

.panel-widget {
    background: #fff;
}

.jumbotron {
    background: #fff;
    border-bottom: 1px solid #eee;
    color: #5f6468;
}

.panel .tabs {
    margin: 0;
    padding: 0;
}

.nav-tabs {
    background: #e9ecf2;
    border: 0;
    li {
        a {
            &:hover {
                background: #fff;
                border: 0;
                padding: 15px 20px;
            }
            border: 0;
            padding: 15px 20px;
        }
        &.active a {
            border: 0;
            padding: 15px 20px;
            &:hover {
                border: 0;
                padding: 15px 20px;
            }
        }
    }
}

.nav-pills {
    padding: 15px;
    padding-bottom: 0;
    li {
        a {
            border: 0;
            padding: 7px 15px;
            &:hover {
                border: 0;
                padding: 7px 15px;
            }
        }
        &.active a {
            border: 0;
            padding: 7px 15px;
            &:hover {
                border: 0;
                padding: 7px 15px;
                background: #30a5ff;
            }
            background: #30a5ff;
        }
    }
}

.tab-content {
    padding: 15px;
}

.navbar {
    border: 0;
    input {
        border: 0;
        background: #444;
        color: #fff;
        &:focus {
            color: #fff;
            background: #555;
            border: 1px solid #30a5ff;
            outline: 0;
            box-shadow: inset 0px 0px 0px 1px #30a5ff;
        }
    }
}

.user-menu {
    display: inline-block;
    margin-top: 14px;
    margin-right: 10px;
    float: right;
    list-style: none;
    padding: 0;
    a {
        color: #fff;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

.sidebar {
    display: block;
    background-color: #fff;
    padding: 0;
    display: none;
    form {
        padding: 20px 15px 5px 15px;
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
    }
    ul.nav {
        a:hover,
        li.parent ul li a:hover {
            text-decoration: none;
            background-color: #e9ecf2;
        }
        .active a,
        li.parent a.active,
        .active>a:hover,
        li.parent a.active:hover,
        .active>a:focus,
        li.parent a.active:focus {
            color: #fff;
            background-color: #30a5ff;
        }
        ul {
            list-style: none;
            list-style-type: none;
            li {
                list-style: none;
                list-style-type: none;
            }
            &.children {
                width: auto;
                padding: 0;
                margin: 0;
                background: #f9f9f9;
                li a {
                    height: 40px;
                    background: #f9f9f9;
                    color: #30a5ff !important;
                }
            }
        }
        li {
            &.current a {
                background-color: #30a5ff;
                color: #fff !important;
            }
            &.parent ul li a {
                border: none;
                display: block;
                padding-left: 30px;
                line-height: 40px;
            }
        }
    }
    span.glyphicon {
        margin-right: 10px;
    }
    ul.nav li.divider {
        border-bottom: 1px solid #eee;
        margin: 20px 0;
    }
    .attribution {
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 15px;
        text-align: center;
        border-top: 1px solid #eee;
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #fff;
        box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.05);
    }
    .navbar-header {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .sidebar .attribution {
        display: none;
    }
}

.breadcrumb {
    border-radius: 0;
    padding: 10px 15px;
    background: #e9ecf2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 0;
}

h1.page-header {
    margin-top: 30px;
    border-bottom: 0;
}

.main-chart {
    background: #fff;
}

.easypiechart-panel {
    text-align: center;
    padding: 1px 0;
    margin-bottom: 20px;
}

.placeholder h2 {
    margin-bottom: 0px;
}

.donut {
    width: 100%;
}

.easypiechart {
    position: relative;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 20px auto 10px auto;
    .percent {
        display: block;
        position: absolute;
        font-size: 26px;
        top: 38px;
        width: 120px;
    }
}

#easypiechart-blue .percent {
    color: #30a5ff;
}

#easypiechart-teal .percent {
    color: #1ebfae;
}

#easypiechart-orange .percent {
    color: #ffb53e;
}

#easypiechart-red .percent {
    color: #ef4040;
}

#calendar,
.datepicker-inline,
#calendar table {
    width: 100%;
}

.datepicker table tr td {
    &.old,
    &.new {
        color: rgba(255, 255, 255, 0.5);
    }
    &.active {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.5);
        border-color: #285e8e;
        &:hover {
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.5);
            border-color: #285e8e;
        }
        &.disabled {
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.5);
            border-color: #285e8e;
            &:hover {
                color: #ffffff;
                background-color: rgba(0, 0, 0, 0.5);
                border-color: #285e8e;
            }
        }
        &:hover,
        &.disabled:hover,
        &:focus,
        &:hover:focus {
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.5);
            border-color: #285e8e;
        }
        &.disabled {
            &:focus,
            &:hover:focus {
                color: #ffffff;
                background-color: rgba(0, 0, 0, 0.5);
                border-color: #285e8e;
            }
        }
        &:active,
        &:hover:active {
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.5);
            border-color: #285e8e;
        }
        &.disabled {
            &:active,
            &:hover:active {
                color: #ffffff;
                background-color: rgba(0, 0, 0, 0.5);
                border-color: #285e8e;
            }
        }
        &.active,
        &:hover.active {
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.5);
            border-color: #285e8e;
        }
        &.disabled {
            &.active,
            &:hover.active {
                color: #ffffff;
                background-color: rgba(0, 0, 0, 0.5);
                border-color: #285e8e;
            }
        }
    }
}

.open .dropdown-toggle.datepicker table tr td.active {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #285e8e;
    &:hover {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.5);
        border-color: #285e8e;
    }
    &.disabled {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.5);
        border-color: #285e8e;
        &:hover {
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.5);
            border-color: #285e8e;
        }
    }
}

.datepicker {
    table tr td span:hover,
    thead tr:first-child th:hover,
    tfoot tr th:hover {
        background: rgba(0, 0, 0, 0.25);
    }
    table tr td.day {
        &:hover,
        &.focused {
            background: rgba(0, 0, 0, 0.25);
        }
    }
}

.panel-heading .glyphicon {
    margin-right: 10px;
}

.todo-list-item .glyphicon {
    margin-right: 5px;
    color: #9fadbb;
    &:hover {
        margin-right: 5px;
        color: #1b3548;
    }
}

.todo-list {
    padding: 0;
    margin: -15px;
    background: #fff;
    color: #5f6468;
}

#checkbox {
    margin: 0;
}

.todo-list .checkbox {
    display: inline-block;
    margin: 0px;
}

.panel-body input[type=checkbox]:checked+label {
    text-decoration: line-through;
    color: #777;
}

.todo-list-item {
    list-style: none;
    line-height: 0.9;
    padding: 14px 15px 8px 15px;
    &:hover {
        text-decoration: none;
        background-color: #f6f6f6;
    }
}

a.todo-list-item:focus {
    text-decoration: none;
    background-color: #f6f6f6;
}

.todo-list-item a.trash .glyphicon:hover {
    color: #ef4040;
}

.chat {
    ul {
        list-style: none;
        margin: -15px;
        padding: 15px;
        li {
            margin-bottom: 10px;
            padding: 15px 5px;
            border-bottom: 1px solid #eee;
            &.left .chat-body {
                margin-left: 100px;
            }
            &.right .chat-body {
                margin-right: 100px;
            }
            .chat-body p {
                margin: 0;
            }
        }
        .glyphicon {
            margin-right: 5px;
        }
    }
    .panel-body {
        overflow-y: scroll;
        height: 300px;
    }
}

.chat-body small {
    margin-left: 5px;
}

.table {
    background: #fff;
}

.fixed-table-container {
    border: 1px solid #eee;
    thead th {
        background: #f7f7f8;
        border-color: #ddd;
        color: #5f6468;
        font-weight: 300;
        font-size: 16px;
    }
    tbody td {
        border: 1px solid #eee;
        &:last-child {
            border-right: none;
        }
    }
}

.table>thead>tr>th {
    border-bottom: 1px solid #e6e7e8;
    vertical-align: middle;
    height: 50px;
}

.fixed-table-pagination {
    .pagination {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .pagination-detail {
        margin-top: 20px;
    }
}
