$fg-dark: #5f6468;
$fg-light: #f1f4f7;


$bg-light: #f1f4f7;
$bg-dark: #363B73;

$dash-blue: #78b6d6;
$dash-green: #7AC043;
$dash-yellow: #F9E97A;
$dash-orange: #F37737;
$dash-red: #EE4035;

$twili-indigo: #363B73;
$twili-sparkle: #EE4F91;
$twili-lavender: #CAAAD1;
$twili-mountain: #6E2A8D;
$twili-mym: #FFFDFF;




$tile-layover: rgba(50, 169, 198, 0.6);
$layover-transition: all 0.5s;
